CMakeCache.txt
*/CMakeFiles/
CMakeFiles/
*/*/cmake_install.cmake
*/cmake_install.cmake
cmake_install.cmake
CMakeTmp/
cmake_uninstall.cmake
*/*/CTestTestfile.cmake
*/CTestTestfile.cmake
CTestTestfile.cmake
data/CMakeFiles/
data/cmake_install.cmake
data/CTestTestfile.cmake
data/Makefile
doc/*/CMakeFiles/
doc/CMakeFiles/
doc/cmake_install.cmake
doc/*/CTestTestfile.cmake
doc/CTestTestfile.cmake
doc/*/index.cache.bz2
doc/Makefile
lib/
Makefile
*/Makefile
*/*/Makefile
po/*/krecipes.gmo
src/krecipes
src/krecipesadaptor.cpp
src/krecipesadaptor.h
src/krecipes_automoc.cpp
src/krecipes_automoc.cpp.files
src/krecipescommon_automoc.cpp
src/krecipescommon_automoc.cpp.files
src/krecipes-database-authors
src/krecipes-database-authors_automoc.cpp
src/krecipes-database-authors_automoc.cpp.files
src/krecipes-database-authors.shell
src/krecipes-database-encoding
src/krecipes-database-encoding_automoc.cpp
src/krecipes-database-encoding_automoc.cpp.files
src/krecipes-database-encoding.shell
src/krecipes-datablocks-mixednumber
src/krecipes-datablocks-mixednumber_automoc.cpp
src/krecipes-datablocks-mixednumber_automoc.cpp.files
src/krecipes-datablocks-mixednumber.shell
src/krecipes-datablocks-rating
src/krecipes-datablocks-rating_automoc.cpp
src/krecipes-datablocks-rating_automoc.cpp.files
src/krecipes-datablocks-ratingcriteria
src/krecipes-datablocks-ratingcriteria_automoc.cpp
src/krecipes-datablocks-ratingcriteria_automoc.cpp.files
src/krecipes-datablocks-ratingcriteria.shell
src/krecipes-datablocks-rating.shell
src/krecipes-datablocks-unit
src/krecipes-datablocks-unit_automoc.cpp
src/krecipes-datablocks-unit_automoc.cpp.files
src/krecipes-datablocks-unitratio
src/krecipes-datablocks-unitratio_automoc.cpp
src/krecipes-datablocks-unitratio_automoc.cpp.files
src/krecipes-datablocks-unitratiolist
src/krecipes-datablocks-unitratiolist_automoc.cpp
src/krecipes-datablocks-unitratiolist_automoc.cpp.files
src/krecipes-datablocks-unitratiolist.shell
src/krecipes-datablocks-unitratio.shell
src/krecipes-datablocks-unit.shell
src/krecipes-datablocks-weight
src/krecipes-datablocks-weight_automoc.cpp
src/krecipes-datablocks-weight_automoc.cpp.files
src/krecipes-datablocks-weight.shell
src/krecipes-datablocks-yield
src/krecipes-datablocks-yield_automoc.cpp
src/krecipes-datablocks-yield_automoc.cpp.files
src/krecipes-datablocks-yield.shell
src/krecipesdbadaptor.cpp
src/krecipesdbadaptor.h
src/krecipes-import-export-kretest
src/krecipes-import-export-kretest_automoc.cpp
src/krecipes-import-export-kretest_automoc.cpp.files
src/krecipes-import-export-kretest.shell
src/krecipes-import-export-mmftest
src/krecipes-import-export-mmftest_automoc.cpp
src/krecipes-import-export-mmftest_automoc.cpp.files
src/krecipes-import-export-mmftest.shell
src/krecipes-import-export-mx2test
src/krecipes-import-export-mx2test_automoc.cpp
src/krecipes-import-export-mx2test_automoc.cpp.files
src/krecipes-import-export-mx2test.shell
src/krecipes-import-export-mxptest
src/krecipes-import-export-mxptest_automoc.cpp
src/krecipes-import-export-mxptest_automoc.cpp.files
src/krecipes-import-export-mxptest.shell
src/krecipes-import-export-nyctest
src/krecipes-import-export-nyctest_automoc.cpp
src/krecipes-import-export-nyctest_automoc.cpp.files
src/krecipes-import-export-nyctest.shell
src/krecipes-import-export-recipemltest
src/krecipes-import-export-recipemltest_automoc.cpp
src/krecipes-import-export-recipemltest_automoc.cpp.files
src/krecipes-import-export-recipemltest.shell
src/krecipes-import-export-rezkonvtest
src/krecipes-import-export-rezkonvtest_automoc.cpp
src/krecipes-import-export-rezkonvtest_automoc.cpp.files
src/krecipes-import-export-rezkonvtest.shell
src/krecipes.shell
src/*.moc
src/moc_actionshandlerbase.cpp
src/moc_categoryactionshandler.cpp
src/moc_createelementdialog.cpp
src/moc_createunitconversiondialog.cpp
src/moc_editpropertiesdialog.cpp
src/moc_headeractionshandler.cpp
src/moc_ingredientactionshandler.cpp
src/moc_kreauthoractionshandler.cpp
src/moc_krecategoryactionshandler.cpp
src/moc_kreconversiontable.cpp
src/moc_kregenericactionshandler.cpp
src/moc_loadingauthorsthread.cpp
src/moc_prepmethodactionshandler.cpp
src/moc_propertyactionshandler.cpp
src/moc_unitactionshandler.cpp
src/ui_kregenericlistwidget.h
src/ui_ratingdisplaywidget.h
src/ui_resizerecipedialog.h
