build
/CMakeCache.txt
CMakeFiles
/CMakeFiles/*/CMakeCCompiler.cmake
/CMakeFiles/cmake.check_cache
/CMakeFiles/*/CMakeCXXCompiler.cmake
/CMakeFiles/*/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/*/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/CMakeDirectoryInformation.cmake
/CMakeFiles/CMakeError.log
/CMakeFiles/CMakeOutput.log
/CMakeFiles/CMakeRuleHashes.txt
/CMakeFiles/*/CMakeSystem.cmake
/CMakeFiles/*/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/*/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/Makefile2
/CMakeFiles/Makefile.cmake
/CMakeFiles/TargetDirectories.txt
/CMakeFiles/uninstall.dir/cmake_clean.cmake
/cmake_install.cmake
/CMakeTmp/check_qt_visibility.cpp
/cmake_uninstall.cmake
/compile_commands.json
/CTestTestfile.cmake
data/*.cmake
/data/CMakeFiles/CMakeDirectoryInformation.cmake
/data/cmake_install.cmake
data/Makefile
doc/*.cmake
/doc/CMakeFiles/CMakeDirectoryInformation.cmake
/doc/CMakeFiles/doc-handbook.dir/cmake_clean.cmake
/doc/cmake_install.cmake
/doc/index.cache.bz2
doc/Makefile
icons/*.cmake
/icons/CMakeFiles/CMakeDirectoryInformation.cmake
/icons/cmake_install.cmake
icons/Makefile
layout/*.cmake
/layouts/CMakeFiles/CMakeDirectoryInformation.cmake
/layouts/cmake_install.cmake
/layouts/CTestTestfile.cmake
layouts/Makefile
/lib/
/Makefile
/mimetypes/CMakeFiles/CMakeDirectoryInformation.cmake
/mimetypes/cmake_install.cmake
/mimetypes/CTestTestfile.cmake
mimetypes/Makefile
/nbproject/private
/pics/*.cmake
/pics/CMakeFiles/CMakeDirectoryInformation.cmake
/pics/cmake_install.cmake
pics/Makefile
/recettes.epub*
/src/CMakeFiles
/src/cmake_install.cmake
/src/CTestTestfile.cmake
/src/*.files
/src/krecipes
/src/krecipesadaptor.cpp
/src/krecipesadaptor.h
/src/krecipes_automoc.cpp
/src/krecipescommon_automoc.cpp
/src/krecipes-database-authors
/src/krecipes-database-authors_automoc.cpp
/src/krecipes-datablocks-mixednumber
/src/krecipes-datablocks-mixednumber_automoc.cpp
/src/krecipes-datablocks-rating
/src/krecipes-datablocks-rating_automoc.cpp
/src/krecipes-datablocks-ratingcriteria
/src/krecipes-datablocks-ratingcriteria_automoc.cpp
/src/krecipes-datablocks-unit
/src/krecipes-datablocks-unit_automoc.cpp
/src/krecipes-datablocks-unitratio
/src/krecipes-datablocks-unitratio_automoc.cpp
/src/krecipes-datablocks-unitratiolist
/src/krecipes-datablocks-unitratiolist_automoc.cpp
/src/krecipes-datablocks-weight
/src/krecipes-datablocks-weight_automoc.cpp
/src/krecipes-datablocks-yield
/src/krecipes-datablocks-yield_automoc.cpp
/src/krecipesdbadaptor.cpp
/src/krecipesdbadaptor.h
/src/krecipes-import-export-kretest
/src/krecipes-import-export-kretest_automoc.cpp
/src/krecipes-import-export-mmftest
/src/krecipes-import-export-mmftest_automoc.cpp
/src/krecipes-import-export-mx2test
/src/krecipes-import-export-mx2test_automoc.cpp
/src/krecipes-import-export-mxptest
/src/krecipes-import-export-mxptest_automoc.cpp
/src/krecipes-import-export-nyctest
/src/krecipes-import-export-nyctest_automoc.cpp
/src/krecipes-import-export-recipemltest
/src/krecipes-import-export-recipemltest_automoc.cpp
/src/krecipes-import-export-rezkonvtest
/src/krecipes-import-export-rezkonvtest_automoc.cpp
src/Makefile
/src/*.moc
/src/moc_actionshandlerbase.cpp
/src/moc_categoryactionshandler.cpp
/src/moc_createelementdialog.cpp
/src/moc_createunitconversiondialog.cpp
/src/moc_editpropertiesdialog.cpp
/src/moc_headeractionshandler.cpp
/src/moc_ingredientactionshandler.cpp
/src/moc_kreauthoractionshandler.cpp
/src/moc_krecategoryactionshandler.cpp
/src/moc_kreconversiontable.cpp
/src/moc_kregenericactionshandler.cpp
/src/moc_loadingauthorsthread.cpp
/src/moc_prepmethodactionshandler.cpp
/src/moc_propertyactionshandler.cpp
/src/moc_unitactionshandler.cpp
/src/*.shell
/src/ui_kregenericlistwidget.h
/src/ui_ratingdisplaywidget.h
/src/ui_resizerecipedialog.h
